
@{
    ViewBag.Title = "LoginRegister";
}

@model MVCWebApplication.Models.LoginRegisterViewModel

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Ingresar</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.LoginViewModel.Email)
                        @Html.PasswordFor(m => m.LoginViewModel.Password, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.LoginViewModel.Password)
                        <button type="submit" class="btn btn-default">Ingresar</button>
                    }

                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">O</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Registrate</h2>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Email)
                        @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Password)
                        @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword)

                        <button type="submit" class="btn btn-default">Registrar</button>
                    }
                </div><!--/sign up form-->

            </div>
        </div>
    </div>
</section><!--/form-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}