@model IEnumerable<Ecommerce.MVCWebApplication.Models.CartItemViewModel>
@{
    ViewBag.Title = "Carrito";
    var repo = ConfigurationManager.AppSettings["RepositoryPath"];
}
@using System.Configuration;

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Precio</td>
                        <td class="quantity">Cantidad</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href="@Url.Action("Details", new { @id = item.Product.Id })">
                                        <img src="@Url.Content(repo + item.Product.Images.FirstOrDefault().Path)" alt="" width="80">
                                    </a>
                                </td>
                                <td class="cart_description">
                                    <h4>
                                        @Html.ActionLink(item.Product.Name, "Details", new { @id = item.Product.Id })
                                    </h4>
                                    <p>@item.Product.Description</p>
                                </td>
                                <td class="cart_price">
                                    <p>$@item.Product.UnitPrice</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">$@item.Total</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="@Url.Action("Delete", "Product", new { @id = item.Product.Id })"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tr class="shipping-cost">
                                        <td>Costo de envio</td>
                                        <td>Gratis</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td><span id="total"></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
                @if (Model != null)
                {
                    <tfoot>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <a class="btn btn-default btn-block" href="@Url.Action("Index", "Home")">Seguir comprando</a>
                                @using (Html.BeginForm("CheckOut", "Product", FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-primary btn-block">Finalizar</button>
                                }
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

@section Scripts
{
    <script>
        $(document).ready(function () {
            var total = 0;

            var items = $(".cart_total_price");

            items.each(function () {
                total += parseInt($(this).text().substring(1));
            })
            
            $("#total").html("$" + total);
        });
    </script>
}