
@{
    ViewBag.Title = "Index";
}

@model MVCWebApplication.Models.CustomerViewModel

<section id="cart_items">
    <div class="container">
        <div class="shopper-informations">
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#account">Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#personal">Información personal</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="account" class="container tab-pane active">
                        <div class="shopper-info">
                            <br />
                            <p>Datos de usuario</p>
                            @Html.Partial("ApplicationUser", Model.ResetPassword)
                        </div>
                    </div>
                    <div id="personal" class="container tab-pane fade">
                        <div class="bill-to">
                            <br />
                            <p>Datos de entrega</p>
                            @using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
                            {
                                <div class="form-one">
                                    @Html.TextBoxFor(m => m.Customer.Name, new { @placeholder = Html.DisplayNameFor(n => n.Customer.Name) })
                                    @Html.TextBoxFor(m => m.Customer.LastName, new { @placeholder = Html.DisplayNameFor(n => n.Customer.LastName) })
                                    @Html.TextBoxFor(m => m.Customer.Phone, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.Customer.Phone).ToString()) })
                                    @Html.TextBoxFor(m => m.Customer.Address, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.Customer.Address).ToString()) })
                                </div>
                                <div class="form-two clearfix">
                                    @Html.TextBoxFor(m => m.Customer.ZipCode, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.Customer.ZipCode).ToString()) })
                                    @Html.TextBoxFor(m => m.Customer.Province, new { @placeholder = Html.DisplayNameFor(n => n.Customer.Province) })
                                    @Html.TextBoxFor(m => m.Customer.City, new { @placeholder = Html.DisplayNameFor(n => n.Customer.City) })
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                    <br /><br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}